.boxLayout {
  border: 1px solid;
  padding: 10px;
  width: 400px;
  height: 400px;
  display: inline;
  float: left;
  background: #DFDEDC;
}

body {
  background-color: #333;
}

#headerStyle {
  border: 1px solid;
  padding: 10px;
  width: 1400px;
  height: 50px;
  background-color: #1B1B1B;
}

#textInsideHeaderStyle {
  font-family: serif;
  color: #F5F5F5;
  text-align: center;
}

#boxCreation {
  width: 1000px;
  height: 600px;
  /*border-style: solid;*/
  padding: 12px;
  /*background-color: #F5F5F5;*/
  float: left;
}

.mainUnorderedList {
  /*display: inline;*/
  float: left;
  /*border-style: groove;*/
  border: 5px solid black;
  border-radius: 20px;
  border-color: black;
  padding: 12px;
  margin: 20px;
  background-color: #6C7A89;

}

#boxCreation .mainUnorderedList h2{
  font-family: sans-serif;
  text-align: center;
  opacity: 0.8;
}


#boxCreation .mainUnorderedList li {
  display: block;
}


#h2Test {
  font-family: sans-serif;
  text-align: center;
  opacity: 0.8;
}

#formTest {
  color: #F5F5F5;
  text-align: center;
}
