.boxLayout {
  border: 1px solid;
  padding: 10px;
  min-width: 100px;
  max-width: 200px;
  display: inline;
  float: left;
}

/*.mainUnorderedList > li{
  display: inline;
  float:left;
}*/
ul li:nth-child(1n) {clear:both};
